h1 {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

body {
  text-align: center;
  font-family: 'Comic Neue', cursive;
}

#books-collection {
  border: 2px solid black;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1rem;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 80px;
}

.item:nth-child(odd) {
  background-color: rgba(231, 224, 224, 0.459);
}

hr {
  background-color: black;
  height: 1.5px;
  width: 90px;
  margin: 0 auto;
}

.adding {
  margin-left: 35%;
  padding: 0.5% 2%;
}

.delete,
.adding,
.form-control {
  border: 2px solid #000;
  padding: 1% 2%;
  font-family: 'Comic Neue', cursive;
  font-weight: 600;
  font-size: 16px;
  background-color: #fff;
}

.delete {
  margin-top: auto;
  margin-bottom: auto;
  vertical-align: middle;
}

p {
  font-family: 'Comic Neue', cursive;
  font-weight: 600;
  font-size: 16px;
}

.form-control {
  width: 40%;
}

h2 {
  margin-top: 16px;
  margin-bottom: 10px;
}

.form-control::placeholder {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border: 2px solid #000;
  margin: 1rem 1rem 0 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

#date p {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  font-size: 18px;
}

#contact,
#list {
  display: none;
}

.contact-heading {
  font-size: 34px;
  padding: 2rem 0 4rem 0;
}

.paragraph1 {
  font-size: 22px;
}

.paragraph2 {
  margin-right: 19rem;
  font-size: 23px;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30rem;
  line-height: 0;
}

footer p {
  display: flex;
  padding: 0 1rem;
  font-size: 23px;
}

#contact-info li p {
  font-size: 20px;
}

footer {
  border: 2px solid black;
  margin: auto 1rem 1rem 1rem;
  margin-top: 7rem;
}
